{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}	{% endblock %}	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
	<script src="https://use.fontawesome.com/b7a47e4ad0.js"></script>
</head>


<title>		{% block title %}	{% endblock %}	</title>


<body>		{% block body %}	{% endblock %}	</body>


<script type="text/javascript" src = "{% static 'common/js/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}

</html>